<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data source=USER-PC\SQLEXPRESS; integrated security=true; Initial Catalog=SAGs; " />-->
    <!--<add name="ConnectionString" connectionString="Data source=(local); integrated security=true; Initial Catalog=SAG; User ID=sa; Password=123"/>-->
    <add name="ConnectionString" connectionString="Data source=208.91.198.174; Initial Catalog=SAGSales; User ID=sagSalesdba; Password=sagsales@100%"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <customErrors mode="Off">

    </customErrors>
  </system.web>

</configuration>














